{% extends 'home/index.html.twig' %}

{% block title %}{{'Redes Sociales' | trans}}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <h1 class="mr-auto mb-0 title-table">{{'Redes Sociales' | trans}}</h1>
    <a class="btn btn-success" href="{{ path('secure_crud_social_network_new') }}">Crear nueva</a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Icono</th>
                <th>Url</th>
                <th>Color</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for social_network in social_networks %}
            <tr>
                <td><i class="{{ social_network.name }}"></i></td>
                <td>{{ social_network.url }}</td>
                <td>
                    <span style="color: white; background-color: {{ social_network.color }}; width: 70px!important; padding: 1px; border-radius: 5px">{{ social_network.color }}</span>
                </td>
                <td style="width: 200px">
                    <a style="width: 70px" class="btn btn-info" href="{{ path('secure_crud_social_network_show', {'id': social_network.id}) }}">Mostrar</a>
                    <a style="width: 70px" class="btn btn-warning" href="{{ path('secure_crud_social_network_edit', {'id': social_network.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Sin datos para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
