{% extends 'home/index.html.twig' %}

{% block title %}{{ 'Products' | trans }}{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <!-- dropzone css -->
    <link href="{{ asset('assets/libs/dropzone/min/dropzone.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- page -->
    <link href="{{ asset('assets/css/pages/product.init.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18" data-key="t-products">{{ 'Products' | trans }}</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url('app_homepage') }}" data-key="t-home">{{ 'Home' | trans }}</a></li>
                        <li class="breadcrumb-item active" data-key="t-products">{{ 'Products' | trans }}</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    {{ include('secure/products/form_products.html.twig') }}

    <!-- table brands -->    
    <div class="row table-brand">
        <div class="col-12">
            <div class="card">
                <div class="card-header" id="card-header" style="display: none">
                    <div class="d-flex flex-wrap gap-2">  
                        <button type="button" id="btn-sync" class="btn btn-success waves-effect waves-light" onclick="btnSync()">
                            <i class="mdi mdi-reload font-size-16 align-middle me-2" data-key="t-sync"> {{ 'Actualizar ' | trans }}</i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatable-brands" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>                            
                                <th></th>  {# index #}
                                <th></th>  {# id visible=false #}
                                <th data-key="t-image" ><i class="fas fa-images"></i></th>
                                <th data-key="t-name">{{ 'Name' | trans }}</th>
                                {# <th data-key="t-id">{{ 'SKU' | trans }}</th> #}
                                <th data-key="t-price">{{ 'Price' | trans }}</th>
{#                                <th data-key="t-category">{{ 'Category' | trans }}</th>#}
{#                                <th data-key="t-tags">{{ 'Tags' | trans }}</th>#}
                                <th data-key="t-star" class="text-center"><i class="fas fa-star" title="Destacado"></i></th>
                                <th data-key="t-date">{{ 'Date' | trans }}</th>
                                <th class="text-center">
                                    <div class="table-brands-loader spinner-border text-primary m-1" style="display: none;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fa fa-edit"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" id="pagination">
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end table brands -->

</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        ClassicEditor
            .create(document.querySelector('#large_description'))
            .then(editor=>{
                largeDescriptionEditor=editor
            })
            .catch(error=>{
                console.error(error)
            })
        ClassicEditor
            .create(document.querySelector('#short_description'))
            .then(editor=>{
                shortDescriptionEditor=editor
            })
            .catch(error=>{
                console.error(error)
            })
    </script>

    <!-- dropzone js -->
    <script src="{{ asset('assets/libs/dropzone/min/dropzone.min.js') }}"></script>
    <!-- page -->
    <script src="{{ asset('assets/js/pages/products.init.js') }}"></script>
{% endblock %}