{% extends 'home/index.html.twig' %}

{% block title %}Especificación{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1 class="mr-auto mb-0 title-table">Especificación</h1>
        <a class="btn btn-success" href="{{ path('secure_crud_specification_new') }}">Crear nueva</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Id de la Api</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for specification in specifications %}
            <tr>
                <td>{{ specification.name }}</td>
                <td>{{ specification.apiId }}</td>
                <td style="width: 200px">
                    <a style="width: 70px" class="btn btn-info"
                       href="{{ path('secure_crud_specification_show', {'id': specification.id}) }}">Mostrar</a>
                    <a style="width: 70px;" class="btn btn-warning"
                       href="{{ path('secure_crud_specification_edit', {'id': specification.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
