{% extends 'home/index.html.twig' %}

{% block title %}{{ 'Terms and Conditions' | trans }}{% endblock %}

{% block content %}
    <div>
        <h1>{{ 'Terms and Conditions' | trans }}</h1>
        {{ form_start(form, {'attr':{'id':'terms_conditions','autocomplete':"off"}}) }}
        <div class="row">
            <div class="col-12">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
