{% extends 'home/index.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{parent()}}
	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">{{ title }}</h1>
		</div>
	</div>

	{{ form_start(form) }}

	{% if form_errors(form) %}
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors(form) }}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row my-2">
		<div class="col-12">
			{{ form_label (form.inventory) }}
			{{ form_widget (form.inventory) }}
		</div>
	</div>
	<div class="row my-2">
		<div class="col-12">
			{{ form_label (form.name) }}
			{{ form_widget (form.name) }}
		</div>
	</div>


	<div class="row my-2">
		<div class="col-12">
			{{ form_label (form.descriptionEs) }}
			{{ form_widget (form.descriptionEs) }}
		</div>
	</div>


	<div class="row my-2">
		<div class="col-12">
			{{ form_label (form.descriptionEn) }}
			{{ form_widget (form.descriptionEn) }}
		</div>
	</div>

	<hr>
	<div class="row my-2">
		<div class="col-12">
			<h3>SKU</h3>
			<small>Se conforma automaticamente de la siguiente manera:
			</small>
			<small>CA-MAR-MOD310-WH-VP1[-VP2-VP3] | (VP2 y VP3 son opcionales)</small>
		</div>
	</div>
	<div class="row my-3">

		<div class="col-3">
			{{ form_label (
				form.subcategory,
				'Categoría',
				{'label_attr': {'class': 'form-label','id':'label-category','data-category-id':product.category ? product.category.id:'0'}}
			)}}
			{{ form_widget (form.category) }}
		</div>

		<div class="col-3">
			{{ form_label (
				form.subcategory,
				'Subcategoría',
				{'label_attr': {'class': 'form-label','id':'label-subcategory','data-subcategory-id':product.subcategory ? product.subcategory.id:'0'}}
			)}}
			{{ form_widget (form.subcategory) }}
		</div>

		<div class="col-3">
			{{ form_label (form.brand) }}
			{{ form_widget (form.brand) }}
		</div>

		<div class="col-3">
			{{ form_label (form.model) }}
			{{ form_widget (form.model) }}
		</div>
	</div>
	<div class="row my-3">

		<div class="col-3">
			{{ form_label (form.color) }}
			{{ form_widget (form.color) }}
		</div>

		<div class="col-3">
			{{ form_label (form.vp1) }}
			{{ form_widget (form.vp1) }}
		</div>

		<div class="col-3">
			{{ form_label (form.vp2) }}
			{{ form_widget (form.vp2) }}
		</div>

		<div class="col-3">
			{{ form_label (form.vp3) }}
			{{ form_widget (form.vp3) }}
		</div>
		<div class="row my-3">

			<div class="col-12 text-center">
				<div class="row">
					<div class="col-4"></div>

					<div class="col-4">
						{{ form_label (
							form.sku,
							'SKU',
							{'label_attr': {'class': 'form-label','id':'label-sku','data-product-id':product.id ? product.id:'0'}}
						)}}
						{{ form_widget (form.sku) }}
						<span id="message_sku">Complete todos los campos para verificar la disponibilidad del SKU.</span>
					</div>

					<div class="col-4"></div>
				</div>

			</div>
		</div>

		<hr>
		<div class="row my-2">
			<div class="col-12">
				<h3>Caracteristicas</h3>
			</div>
			<div class="col-3">
				{{ form_label (form.cost) }}
				{{ form_widget (form.cost) }}
			</div>

			<div class="col-3">
				{{ form_label (form.price) }}
				{{ form_widget (form.price) }}
			</div>

			<div class="col-3">
				{{ form_label (form.cod) }}
				{{ form_widget (form.cod) }}
			</div>
			<div class="col-3">
				{{ form_label (form.part_number) }}
				{{ form_widget (form.part_number) }}
			</div>
		</div>

		<div class="row my-2">
			<div class="col-4">
				{{ form_label (form.weight) }}
				{{ form_widget (form.weight) }}
			</div>

			<div class="col-4">
				{{ form_label (form.screen_resolution) }}
				{{ form_widget (form.screen_resolution) }}
			</div>

			<div class="col-4">
				{{ form_label (form.screen_size) }}
				{{ form_widget (form.screen_size) }}
			</div>
		</div>
		<div class="row my-2">
			<div class="col-4">
				{{ form_label (form.cpu) }}
				{{ form_widget (form.cpu) }}
			</div>
			<div class="col-4">
				{{ form_label (form.gpu) }}
				{{ form_widget (form.gpu) }}
			</div>

			<div class="col-4">
				{{ form_label (form.ram) }}
				{{ form_widget (form.ram) }}
			</div>
		</div>

		<div class="row my-2">

			<div class="col-4">
				{{ form_label (form.memory) }}
				{{ form_widget (form.memory) }}
			</div>
			<div class="col-4">
				{{ form_label (form.op_sys) }}
				{{ form_widget (form.op_sys) }}
			</div>

			<div class="col-4">
				{{ form_label (form.conditium) }}
				{{ form_widget (form.conditium) }}
			</div>
		</div>

		{% if (product.getImage) %}
			<table class="table table-sm table-striped">
				<thead>
					<tr>
						<th class="text-center">Imagen</th>
						<th class="text-center">Portada</th>
						<th style="width:300px;" class="text-center">Acciones</th>
					</tr>
				</thead>
			</thead>
			<tbody>
				{% for image in product.getImage %}
					<tr>
						<th class="text-center" style="width:200px"><img class="img-fluid" style="width:100%" alt="Imagen" src="{{ image.image }}"/></th>

						<th class="text-center">
							{% if (image.getPrincipal) %}
								<span class="fas fa-check-circle"></span>
							{% endif %}
						</th>
						<th class="text-left">
							<a class="py-5" href="javascript:void(0);">
								<span class="text-success fas fa-images"></span>
								Establecer como imagen principal
							</a>
							<br>
							<a class="py-5" href="javascript:void(0);">
								<span class="text-danger fas fa-trash-alt"></span>
								Eliminar
							</a>
						</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<div class="row my-2">
		<div class="col-12">
			<h4>Cargar imagenes</h4>
			<small>(La primer imagen será considerada la imagen de portada)</small>
			{{ form_label (form.images) }}{{ form_widget (form.images) }}<div id="drag-drop-area"></div>
		</div>
	</div>
	<div>
		<div class="row my-2">
			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('secure_crud_product_index') }}">Regresar</a>

				<button class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
