{# {% extends 'email/base.email.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	{{parent()}}
	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">{{ title }}</h1>
		</div>
	</div>

	{{ form_start(form) }}
	{% if form_errors(form) %}
		<div class="row">
			<div class="col-12">
				<div class="alert alert-danger">
					{{ form_errors(form) }}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row my-2">
		<div class="col-12" id="DivTextEditor" data-id-text-area="about_us_description">
			{{ form_row(form.description) }}
		</div>
	</div>


	<div>
		<div class="row my-2">

			<div class="col-12 text-end">
				<a class="btn btn-secondary" href="{{ path('app_homepage')}}">Regresar</a>

				<button class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}

{% endblock %} #}


{# 
name
phone
email
message
#}

<h1>Solicitud de contacto</h1>


<p>{{parameters.name}}, ha solicitado contactarse.</p>
<p>Los datos de contacto son:</p>
<p>E-mail: <a href="mailto:{{parameters.email}}">{{parameters.email}}</a></p>
<p>Teléfono: <a href="tel:{{parameters.phone}}">{{parameters.phone}}</a></p>
<p>Mensaje: {{parameters.message}}</p>





