<h1>Solicitud de contacto
</h1>
<p>{{parameters.name}}, ha solicitado contactarse.
</p>
<p>Los datos de contacto son:
</p>
<p>
	E-mail:<a href="mailto:{{parameters.email}}">
		{{parameters.email}}</a>
</p>
<p>Teléfono:
	<a href="tel:{{parameters.phone}}">{{parameters.phone}}</a>
</p>
<p>Mensaje:
	{{parameters.message}}</p> 
