<h1>Nueva orden CREADA
</h1>
<p>Nro de orden: {{paramenter.orden_id}}<p>
<p>Cliente: {{parameters.name}}</p>
<p>E-mail:<a href="mailto:{{parameters.email}}">{{parameters.email}}</a></p>
<p>Teléfono:<a href="tel:{{parameters.phone}}">{{parameters.phone}}</a></p>
<p>Total de la orden: {{paramenter.total_order}}<p>
<p>Productos comprados:<p>
<p>{{parameters.products}}</p>
